* {
    box-sizing: border-box;
}

body {
	height:100%;
}

a {
    text-decoration-line: none;
    color:black !important;
}

a:hover {
	text-decoration: none !important;
    color:black !important;
}

.top_form {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: white;
    z-index:10;
}

.body_form {
    width: 100%;
    height: calc(100% - 60px);
}

.left_item {
    float: left;
    width: 276px;
    height: 850px;
    background-color: #EFF4FC;  
    margin-top:60px;
}

.right_item {
    float: left;
    width: calc(100% - 276px);
    height: calc(100% - 60px);
    min-width: 950px;
    overflow: auto;
    margin-top:60px;
}

#calendarBox{
	width:70%;
	margin:30px;
}

/* left 메뉴 style*/
.main_button {
    background: #2985db;
    color: white;
    width: calc(100% - 48px);
    height: 44px;
    margin: 20px 24px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
}

.main_button:hover {
    background-color: #056AC9;
}



.menu_tab {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 24px 30px;
    height: 100%;
}
.menu_item {
    height: 38px;
    width: 228px;
    color: #333333;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
}

.menu_item:hover {
    background-color: #F7FAFF;
}

.menu_item img {
    max-width: 16px;
    margin-right: 8px;
}

.menu_item_text {
    font-size: 15px;
}

.menu_item.select {
    background-color: #DAE8F8;
    color: #056AC9;
    font-weight: bold;
}
