<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ApprovalFiles">
	<insert id="insert">
		INSERT INTO Approval_Files VALUES(NULL, #{parent_seq}, #{ori_name}, #{sys_name})
	</insert>
	
	<select id="selectByParentSeq" resultType="com.kdt.dto.ApprovalFilesDTO">
		SELECT * FROM Approval_Files WHERE parent_seq = #{parent_seq}
	</select>
</mapper>