<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Approval">
	<select id="selectById" resultType="com.kdt.dto.ApprovalDTO">
		SELECT * FROM Approval WHERE id = #{id} 
	</select>
	<select id="selectWaitById" resultType="com.kdt.dto.ApprovalDTO">
		SELECT * FROM Approval WHERE id = #{id} AND approval_status = '대기'
	</select>
	<select id="selectCompleteById" resultType="com.kdt.dto.ApprovalDTO">
		SELECT * FROM Approval WHERE id = #{id} AND approval_status = '완료'
	</select>
	<select id="selectProgressById" resultType="com.kdt.dto.ApprovalDTO">
		SELECT * FROM Approval WHERE id = #{id} AND approval_status = '진행중'
	</select>
	<insert id="insert" useGeneratedKeys="true" keyProperty="seq">
		insert into Approval values (null,#{id},#{title},#{contents}, now(), '대기', #{doc_type})
	</insert>
	<insert id="aleaveinsert">
		insert into ApplyLeave values (null,#{id},#{user_names},#{work_types},#{work_days},#{doc_id},default)
	</insert>
	<delete id="delete">
		DELETE FROM Approval WHERE seq = #{doc_id}
	</delete>
	<select id="selectByDocId" resultType="com.kdt.dto.ApprovalDTO">
		SELECT * FROM Approval WHERE seq = #{docId}
	</select>
	<select id="getAllCount" resultType="Integer">
		SELECT COUNT(*) FROM Approval
		WHERE id = #{id}
	</select>
	<select id="getWaitCount" resultType="Integer">
		SELECT COUNT(*) FROM Approval
		WHERE id = #{id} and approval_status = '대기'
	</select>
	<select id="getCompleteCount" resultType="Integer">
		SELECT COUNT(*) FROM Approval
		WHERE id = #{id} and approval_status = '완료'
	</select>
	<select id="getProcessCount" resultType="Integer">
		SELECT COUNT(*) FROM Approval
		WHERE id = #{id} and approval_status = '진행중'
	</select>
</mapper>