<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
	
	<!-- member-mapper로 옮겨라 -->
	<select id="selectAllMembers" resultType="com.kdt.dto.MembersDTO">
		select * from Members;
	</select>
	<select id="selectAllOrganization" resultType="String">
		select organization from Members group by organization
	</select>
	<select id="selectByOrganization" resultType="String">
		select JOB_NAME from (select * from Members where organization=#{organization}) as job group by job_name
	</select>
	<select id="selectByJobName" resultType="String">
		select name from Members where JOB_NAME=#{job_name};
	</select>
	<select id="selectMemberByOrganization" resultType="com.kdt.dto.MembersDTO">
		select * from Members where organization=#{organization}
	</select>
	<select id="selectMemberByOrganizationAndJobName" resultType="com.kdt.dto.MembersDTO">
		select * from Members where organization=#{organization} and JOB_NAME=#{job_name}
	</select>
	<select id="selectMemberByName" resultType="com.kdt.dto.MembersDTO">
		select * from Members where organization=#{organization} and JOB_NAME=#{job_name} and name=#{name}
	</select>
	<!-- 옮겨라 -->
	
	<!-- 게시글 등록 -->
	<insert id="insertBoardContents" useGeneratedKeys="true" keyProperty="seq">
		insert into ${board_title} values (null,#{title},#{writer},default,#{header},#{notice},#{contents},#{survey_question},default)
	</insert>
	
	<!-- 게시글 불러오기 -->
	<select id="boardContentsList" resultType="com.kdt.dto.BoardDTO">
	<!-- 게시글 리스트 다 가져오기 ( 사이즈 구할 때 사용 )-->
		select b.*, #{oriBoardTitle} as board_title,case when b.seq = parent_seq then 'true' else 'false' end as favorite 
		from ${board_title} b left join Favorite_Board f on id=#{id} and parent_seq = b.seq and board_title=#{board_title} order by seq desc
	</select>
	<!-- 게시글 리스트 10개씩 가져오기 -->
	<select id="BoardContentsListBy" resultType="com.kdt.dto.BoardDTO">
		select * from (select row_number() over(order by seq desc) as rn, b.*,#{oriBoardTitle} as board_title,case when b.seq = parent_seq then 'true' else 'false' end as favorite 
		from ${board_title} b left join Favorite_Board f on id=#{id} and parent_seq = b.seq and board_title=#{board_title} order by seq desc) as sub 
		where rn between ${start} and ${end};
	</select>
	<!-- 게시글 내용 불러오기 -->
	<select id="boardContents" resultType="com.kdt.dto.BoardDTO">
		select * from ${board_title} where seq=#{seq}
	</select>
	<!-- 즐겨찾기 게시물 전체 불러오기 -->
	<select id="FavoriteBoardContentsList" resultType="com.kdt.dto.BoardDTO">
		select b.*,#{oriBoardTitle} as board_title, "true" as favorite from Favorite_Board f 
		left join ${board_title} b on parent_seq=b.seq where id=#{id} and board_title=#{board_title} order by write_date desc
	</select>
	<!-- 즐겨찾기 게시물 10개씩 가져오기 -->
	<select id="FavoriteListBy" resultType="com.kdt.dto.BoardDTO">
		(select b.seq,ori_board_title as board_title,id,parent_seq,title,writer,header,notice,contents,survey_question,view_count from Favorite_Board f 
		inner join 
			(${fromBoard}) b 
		on parent_seq=b.seq and f.board_title=b.board_title and id=#{id} order by write_date desc) 
		limit ${start},10;  
	</select>
	<!-- 공지 내용 최근 5개 가져오기 -->
	<select id="Notice" resultType="com.kdt.dto.BoardDTO">
		select * from (select row_number() over(order by write_date desc) as rn, ${board_title}.* from ${board_title} where notice=true) as sub 
		where rn between 1 and 5;
	</select>
	<!-- 게시글 삭제 -->
	<delete id="delContents">
		delete from ${board_title} where seq=${seq}
	</delete>
	<!-- 게시글 수정 -->
	<update id="updateContentsBoard">
		update ${board_title} set title=#{title}, header=#{header}, notice=#{notice}, contents=#{contents} where seq=#{seq}
	</update>
	<update id="updateSurveyQuestion">
		update ${board_title} set survey_question=#{survey_question} where seq=#{seq}
	</update>

</mapper>