<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Calendar">
	
	<select id="selectAllP" resultType="com.kdt.dto.Personal_CalendarDTO"> <!-- select처럼 return 값 다른 경우 -->
		select * from Personal_Calendar where id=#{id}
	</select>
	
	<select id="selectAllO" resultType="com.kdt.dto.Official_CalendarDTO"> <!-- select처럼 return 값 다른 경우 -->
		select * from Official_Calendar where organization=#{org}
	</select>
	
	<insert id="pinsert">
		insert into Personal_Calendar values(default,#{id},#{schedule},#{startday},#{endday})
	</insert>
	
	<insert id="oinsert">
		insert into Official_Calendar values(default,#{organization},#{schedule},#{startday},#{endday})
	</insert>
	
	<delete id="pdelete">
		delete from Personal_Calendar where seq=#{seq}
	</delete>
	
	<delete id="odelete">
		delete from Official_Calendar where seq=#{seq}
	</delete>

	<update id="pupdate">
		update Personal_Calendar set schedule=#{schedule}, startday=#{startday}, endday=#{endday} where seq=#{seq}
	</update>
	
	<update id="oupdate">
		update Official_Calendar set schedule=#{schedule}, startday=#{startday}, endday=#{endday} where seq=#{seq}
	</update>

</mapper>