<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ChatMessage">
	<insert id="insert">
		insert into Messages(roomID,profile_image,userID,message,messageType,type)
		values(#{roomID},#{profile_image},#{userID},#{message},#{messageType},#{type})
	</insert>
	<select id="selectByType"
		resultType="com.kdt.dto.ChatMessageDTO">
		SELECT * FROM Messages where type = #{type} and MessageSeq=#{MessageSeq}
	</select>
	<select id="getPreviousMessages"
		resultType="com.kdt.dto.ChatMessageDTO">
		select * from Messages where roomID =#{oneSeq } and messageType='one';
	</select>
	<select id="getPreviousGroupMessages"
		resultType="com.kdt.dto.ChatMessageDTO">
		select * from Messages  where roomID =#{groupSeq} and messageType='group';
	</select>
</mapper>