<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Contact">

    <select id="personal_contact_selectAll" resultType="com.kdt.dto.ContactDTO">
        select * from Personal_Contact where writer = #{writer}
    </select>

    <select id="personal_contact_selectBy" resultType="com.kdt.dto.ContactDTO">
        SELECT * FROM Personal_Contact
        WHERE writer = 'test1'
        AND (
        tag = #{tag}
        OR tag LIKE CONCAT('%', #{tag}, '%')
        OR tag LIKE CONCAT('%,', #{tag}, '%')
        OR tag LIKE CONCAT('%', #{tag}, ',%')
        );
    </select>

    <select id="personal_contact_selectNull" resultType="com.kdt.dto.ContactDTO">
        select * from Personal_Contact where writer = #{writer} and tag = ''
    </select>

    <select id="personal_contact_tag_selectAll" resultType="com.kdt.dto.ContactDTO">
        select * from Personal_Contact_Tag where writer = #{writer}
    </select>

    <select id="personal_contact_tag_selectAll_duplicate" resultType="com.kdt.dto.ContactDTO">
        select * from Personal_Contact_Tag where writer = #{writer} and tag = #{tag}
    </select>

    <insert id="personal_contact_tag_insert">
        insert into Personal_Contact_Tag(writer, tag)

        values(#{writer}, #{tag})
    </insert>

    <insert id="personal_contact_insert">
        insert into Personal_Contact(tag, name, email, phone, company_name, company_rank,
        company_department, address, link, birthday, memo, writer)

        values(#{tag}, #{name}, #{email}, #{phone}, #{company_name}, #{company_rank},
        #{company_department}, #{address}, #{link}, #{birthday}, #{memo}, #{writer})
    </insert>
    
    <select id="personal_contact_read" resultType="com.kdt.dto.ContactDTO">
        select * from Personal_Contact where seq = #{seq}
    </select>
    
	<select id="personal_contact_update" resultType="com.kdt.dto.ContactDTO">
    	update Personal_Contact set
    	name = #{name},
    	email = #{email},
    	phone = #{phone},
    	tag = #{tag},
    	company_name = #{company_name},
    	company_rank = #{company_rank},
    	company_department = #{company_department},
    	address = #{address},
    	link = #{link},
    	birthday = #{birthday},
    	memo = #{memo}
    	where seq = #{seq}
	</select>
	
	<delete id="personal_contact_delete">
	delete from Personal_Contact where seq = #{seq}
	</delete>
	
	
	 <select id="personal_contact_search" resultType="com.kdt.dto.ContactDTO">
        SELECT * FROM Personal_Contact
        WHERE name LIKE CONCAT('%', #{keyword}, '%') or company_name LIKE CONCAT('%', #{keyword}, '%') or phone LIKE CONCAT('%', #{keyword}, '%')
    </select>
	

    <select id="share_contact_tag_selectAll" resultType="com.kdt.dto.ContactDTO">
        select * from Share_Contact_Tag
    </select>

    <select id="share_contact_tag_selectAll_duplicate" resultType="com.kdt.dto.ContactDTO">
        select * from Share_Contact_Tag where tag = #{tag}
    </select>

    <insert id="share_contact_tag_insert">
        insert into Share_Contact_Tag(writer, tag)

        values(#{writer}, #{tag})
    </insert>

    <insert id="share_contact_insert">
        insert into Share_Contact(tag, name, email, phone, company_name, company_rank,
        company_department, address, link, birthday, memo, writer, edit)

        values(#{tag}, #{name}, #{email}, #{phone}, #{company_name}, #{company_rank},
        #{company_department}, #{address}, #{link}, #{birthday}, #{memo}, #{writer}, #{edit})
    </insert>

</mapper>