<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Favorite_Board">
	<delete id="delFavContents">
		delete from Favorite_Board where board_title=#{board_title} and id=#{id} and parent_seq=${parent_seq}
	</delete>
</mapper>