<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Leaves">
<select id="list" resultType="com.kdt.dto.LeavesDTO">
  		SELECT * FROM Leaves where joinday is not null;
  </select>
  <insert id="insert">
  	insert into Leaves values(#{id},#{name},#{organization},default,default,default,default,default,default,default,default)
  </insert>
  <delete id="delete">
  	delete from Leaves where id=#{id}
  </delete>
  <update id="update">
		Update Leaves set organization = #{organization} where id = #{id};
	</update>
</mapper>