<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Members">
	<select id="isMember" resultType="boolean">
		select (count(*) > 0) from Members where id=#{id} and pw=#{pw}
	</select>
	
	<select id="idCheck" resultType="boolean">
		select (count(*) > 0) from Members where id=#{value}
	</select>
	
	<insert id="signup">
		insert into Members values(#{id},#{pw},#{name},#{work_form},#{organization},#{job_name},#{position},null,null,null,null,null,null)
	</insert>
	
	<select id="getOrganization" resultType="String">
		select organization from Members where id=#{value}
	</select>
	
	<select id="selectAll" resultType="com.kdt.dto.MembersDTO">
		SELECT * FROM Members;
	</select>
	
	<update id="updateWorkForm">
		Update Members set work_form = #{work_form} where id = #{id};
	</update>
	
	<update id="updatePosition">
		Update Members set position = #{position} where id = #{id};
	</update>
	
	<update id="updateOrg">
		Update Members set organization = #{organization} where id = #{id};
	</update>
	
	<delete id="deleteMember">
		DELETE FROM Members WHERE ID = #{id};
	</delete>
	
	<select id="selectWorkForm" resultType="String">
		SELECT * FROM Work_Form
	</select>
	
	<select id="selectApprovalMembers" resultType="com.kdt.dto.MembersDTO">
		SELECT m.*
		FROM Members m
		JOIN JOB_TITLE jt ON m.position = jt.POSITION
		WHERE jt.JOB_RANK > (SELECT JOB_RANK FROM JOB_TITLE WHERE POSITION = #{position})
		ORDER BY jt.JOB_RANK DESC;
	</select>
	
	<select id="selectAllNotLogged" resultType="com.kdt.dto.MembersDTO">
		select * from Members where id != #{loggedInUserID}
	</select>
	
	<select id="getMembersByOrganization" resultType="com.kdt.dto.MembersDTO">
		SELECT * FROM Members where organization = #{organization} AND id != #{id}
	</select>
	
	<select id="loginUser" resultType="com.kdt.dto.MembersDTO">
		SELECT * FROM Members where id = #{id}
	</select>
	
	<select id="searchUser" resultType="com.kdt.dto.MembersDTO">
		SELECT * FROM Members where name like #{searchValue}
	</select>
</mapper>