<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Members1">

	<insert id="insert">
		insert into members1 values(#{id},#{pw},#{name},#{phone},#{email},#{zipcode},#{address1},#{address2},default,default)
	</insert>

	<update id="updateById">
		update members1 set name = #{name}, phone = #{phone}, email = #{email}, zipcode = #{zipcode}, address1 =
		#{address1}, address2 = #{address2} where id = #{id}
	</update>

	<delete id="deleteById">
		delete from members1 where id = #{id}
	</delete>

	<select id="selectAll" resultType="com.kdt.dto.MembersDTO1">
		select * from members1
	</select>
	<select id="isIdExist" resultType="boolean">
		SELECT (COUNT(*)>0) FROM
		members1 WHERE id = #{id}
	</select>
	<select id="isMemberExist" resultType="boolean">
		SELECT (COUNT(*)>0) FROM
		members1 WHERE id = #{id} AND password = #{pw}
	</select>

	<select id="selectById" resultType="com.kdt.dto.MembersDTO">
		SELECT * FROM members1 where id = #{id}
	</select>

</mapper>