<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Members1">


	<select id="selectAll" resultType="com.kdt.dto.MembersDTO1">
		select * from members1
	</select>

	<select id="getMembersByOrganization" resultType="com.kdt.dto.MembersDTO1">
		SELECT * FROM members1 where organization = #{organization}
	</select>

</mapper>