<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mk_Board">
	<select id="select_board_type_group" resultType="com.kdt.dto.Mk_BoardDTO">
		select * from Mk_Board where board_type='group'
	</select>
	<select id="select_board_type_all" resultType="com.kdt.dto.Mk_BoardDTO">
		select * from Mk_Board where board_type='all'
	</select>
	<select id="selectBoardSeq" resultType="int">
		select seq from Mk_Board where board_title=#{board_title}
	</select>
	<select id="selectBoardName" resultType="String">
		select board_title from Mk_Board where seq=#{seq}
	</select>
	
	<!-- 게시판 생성 -->
	<insert id="Mk_boardInsert" useGeneratedKeys="true" keyProperty="seq">
		insert into Mk_Board values (null, #{id}, #{board_title}, #{board_type}, #{name_type}, #{use_header}, default)
	</insert>
	<insert id="createTable">
		${sql}
	</insert>
	<!-- 게시판 생성 -->
	
	<!-- 게시글 불러오기 -->
	<select id="allBoardSeq" resultType="int">
		select seq from Mk_Board
	</select>
	<select id="BoardDetail" resultType="com.kdt.dto.Mk_BoardDTO">
		select * from Mk_Board where board_title=#{board_title}
	</select>
	
	<!-- 모든 게시판 목록 불러오기 -->
	<select id="selectAllBoard" resultType="com.kdt.dto.Mk_BoardDTO">
		select * from Mk_Board
	</select>
	
	<!-- 게시판 삭제 -->
	<delete id="DropTable">
		${sql}
	</delete>
	<delete id="DeleteByBoardTitle">
		delete from ${table} where board_title=#{board_title}
	</delete>
	<delete id="DeleteByOriBoardTitle">
		delete from ${table} where ori_board_title=#{board_title}
	</delete>
	
	<!-- 게시판 수정 -->
</mapper>
