<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Works">
  	 <select id="select" resultType="com.kdt.dto.WorksDTO"> <!-- select를 사용할때는 resultType 설정 -->
  		select * from Works where id=#{id} 
  	</select>
  	<select id="selectList" resultType="com.kdt.dto.WorkstatisticsDTO">
  		select * from Works
  	</select>
  	<insert id="insert">
  		insert into Works values(#{id},#{name},#{organization},default,default,default,default,default,default,default,default)
  	</insert>
  	<delete id="delete">
  		delete from Works where id=#{id}
  </delete>
  <update id="update">
		Update Works set organization = #{organization} where id = #{id};
	</update>
	<select id="existstoday" resultType="Int">
		SELECT count(*) FROM WorkPlan WHERE id = #{id} AND DATE(work_days) = CURDATE();
	</select>
	<update id="addworklate">
	<![CDATA[
	UPDATE Works SET work_late = work_late + 1 WHERE id = #{id} AND TIME(CONVERT_TZ(now(), 'UTC', 'Asia/Seoul')) > '09:00:00';
	]]>
	</update>
	<update id="addworkearly">
	<![CDATA[
		UPDATE Works SET work_early = work_early + 1 WHERE id = #{id} AND TIME(CONVERT_TZ(now(), 'UTC', 'Asia/Seoul')) < '18:00:00';
	]]>
	</update>
	<select id="work_current_selectByName" resultType="com.kdt.dto.WorkPlanDTO">
		SELECT * FROM WorkPlan WHERE user_names = #{name} and approval_status='완료';
	</select>
  </mapper>