*{box-sizing: border-box;}

body{
	background-color: #D2E0FB;
}

.loginBox{
	background-color: #ffffff;
	width:500px;
	height:700px;
	margin:auto;
	border-radius:20px;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.loginLogo{
	display:flex;
	justify-content: center;
	align-items: center;
	height:25%;
	font-size: 40px;
	color:#8EACCD;
}

.inputID{
	height:10%;
}
.inputPW{
	height:10%;
}
.rememberID{
	height:5%;
}
.loginButton{
	height:45%;
}

.loginButton button{
	margin-top:30px;
	width:200px;
	height:80px;
	background-color: #8EACCD;
	color:#ffffff;
	border-radius:10px;
	font-size: 22px;
	border: none;
}

.loginButton button:hover{
	cursor: pointer;
	background-color: #6389B0;
}

.icon{
	width:20px;
	height:20px;
}

.idbox{
	width:300px;
	height:35px;
}

.pwbox{
	width:300px;
	height:35px;
}