.right_item{
	min-width:600px !important;
}
#myModal{
	height :40% !important;
}
.modal_title{
	margin:10px;
}
.span_title{
	margin:10px;
}
.modal {
	width: calc(0% - 276px)!important;
	display: none;
	position: fixed;
	top: 30%;
	left: 22%;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 1000 !important;
}
.left_item{
	z-index: 1 !important;
}

/* 모달 뒷 배경 스타일 */
.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 999 !important;
}