table {
	margin-top: 20px;
	width: 95%;
	border-collapse: collapse;
}

i {
    cursor: pointer;
}

table, th, td {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	
}

th {
	background-color: #eff4fc !important;
	width: 10%;
	font-weight: 400;
}

button[type="submit"] {
	margin-top: 20px;
	margin-bottom: 20px;
}

.h4_span {
	font-weight: 700;
	margin-right: 20px;
}

td.jt_div {
	width: 90%;
	padding: 3px;
}

.parent_span {
	margin-right: 20px;
}

.hidden {
	visibility: hidden;
}

.show {
	visibility: visible;
}

#add_jr_btn {
	color: #779ec0 !important;
}

#jr_contents {
	padding-left: 20px;
}