select {
	width: 100%;
	margin-top: 20px;
}

thead tr {
	background-color: #EFF4FC;
}

tr {
	height: 40px;
}

.btns {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -1px;
	padding: 0 19px 1px;
	color: #0667c5 !important;
	cursor: pointer;
}

.hidden {
	display: none !important;
}

.show {
	display: flex !important;
}

.invisbale {
	visibility: hidden;
}

.visable {
	visibility: visible;
}

#add_btn {
	font-size: 16px;
}

#update_div {
	padding: 0 0 0 25px;
}

#myTable_wrapper {
	width: 95%;
	padding: 0 0 0 25px;
}

#createUser {
	width: 95%;
	height: 150px;
	padding: 0 0 0 25px;
}

#createUserTable {
	width:100%;
}

.modalButton_div {
	padding-top: 70px;
}

#signupForm {
	padding:0px;
}

.signupSelect {
	margin:0px;
}