input {
	width: 100%;
}

.google-visualization-orgchart-node-medium {
	width: 250px;
}

.hidden {
	display: none !important;
}

.show {
	display: flex !important;
}

.btn {
	font-size: 15px;
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	background: #bec3c9;
	cursor: pointer;
	line-height: 10px;
}

#chart_div {
	width: 95%;
}