input {
	width: 100%;
}

.google-visualization-orgchart-node-medium {
	width: 250px;
}

.hidden {
	display: none !important;
}

.show {
	display: flex !important;
}

.btn {
	cursor: pointer;

}

#chart_div {
	width: 95%;
}

.button_div {
	margin-top: 60px;
}