*{
	box-sizing: border-box;
	}
body{
	background-color: #d2e0fb1a;
	margin:0px;
}
.homeContainer{
	width: 100%;
}

a {
  text-decoration-line: none;
}

#top_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu_contaier{
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d2e0fb;
  width: 100%;
}
#menuList{
	padding: 30px;
	display: flex;
  	justify-content: space-between;
	width:80%;
}

#menuList > div {
  width: 50px; 
}
.title{font-size: small; width: 60px;margin-top: 5px;}
.main_icon_box{
 width: 60px; /* 지름을 나타내는 값 */
    height: 60px; /* 지름을 나타내는 값 */
    background-color: whitesmoke; /* 원의 배경색 */
    border-radius: 50%; /* 원 모양을 만들기 위한 속성 */
    text-align: center; /* 원 안의 텍스트 중앙 정렬 */
    line-height: 60px; /* 원 안의 텍스트 수직 중앙 정렬 */
    font-size: 24px; /* 텍스트 크기 */
}

#contents{
	width:1000px;
	height:1500px;
	margin:auto;
}

#contents1{
	width:100%;
	min-width:1000px;
	height:600px;
}

#workcheckContainer{
	float:left;
	background-color:#ffffff;
	width:40%;
	height:500px;
	border-radius: 7px;
	margin-top:100px;
}

.blank{
	float:left;
	width:20%;
	height:1px;
}

#mailContainer{
	float:left;
	background-color:#ffffff;
	width:40%;
	height:500px;
	border-radius: 7px;
	right:0px;
	margin-top:100px;
}

#calendarContainer{
	clear: both;
	background-color:#ffffff;
	width:100%;
	height:600px;
	border-radius: 7px;
	margin-top:100px;
}

.verticalLine {
	border-right: 1px solid rgb(192, 192, 192);
    height: 80%;
    float:left;
    margin-top: 50px;
}

#scheduleList {
	float:left;
	width:45%;
	height:100%;
	margin-top: 70px;
	margin-left:20px;
}

.schedules {
	display: flex;
	align-items: center;
}

.circle {
	width:10px;
	height:10px;
	border-radius: 50%;
	background-color:#d2e0fb;
	float:left;
	margin-right: 10px
}

.schedule {
	float:left;
	margin-right: 10px
}

.startday {
	clear: both;
	color:rgb(192, 192, 192);
	font-size: 9pt;
}

/*출근체크*/

.workcheckbox>div {
    padding-top: 50px;
}

#workout {
    	border: none;
    	background-color: white;
    }

    .timebox {
    	font-size: 30px;
    	text-align: center;
    }

    .workinoutbox {
    	font-size: 20px;
    	text-align: center;
    }

    .workbtn {
    	background-color: white;
    	border: 1px solid grey;
    	width: 25%;
    	margin: 10px;
    }

    .workbtnbox {
    	padding-left: 30px;
    }

    .highlight {
    	background-color: aliceblue;
    }
    
    
/*달력*/
.date-wrap {
	width:50%;
	height:100%;
	float:left;
}

table.date-month {
	width:100%;
	height:80%;
}

td {
    text-align: center;
    vertical-align: middle;
}