* {
    box-sizing: border-box;
}

a, a:hover {
    text-decoration-line: none;
  	color: inherit;
}

#logo {
	min-width:80px;
}

#topFormTop {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #eeeeee;
}

.topFormIcon i {
    margin-left: 10px;
}

.topFormIcon i:hover {
    cursor: pointer;
}

.topFormLogo {
    margin: 5px;
    font-size: 25px;
    margin-left: 30px;
}

.topFormIcon {
    margin: 5px;
    font-size: 25px;
    margin-left: auto; /* 아이콘을 오른쪽으로 이동 */
    margin-right: 50px;
    min-width:119px;
}

.topFormLogout {
	padding: 20px;
	border: 1px solid black;
    position: fixed;
    z-index: 2;
    top: 44px;
    right: 3%;
    width: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 12px;
    
}
#topFormProfile{
  	display: flex;
    align-items: center;
}
#topFormProfileImg i{
	font-size: 50px;
}
#topFormProfileImg{
	margin-left: 4px;
}
#topFormMenuSelect {
    font-size: 11pt;
}
#topFormLeft i,
#topFormRight i {
    width: 18px;
    text-align: center;
}


#topFormMenuSelectDiv {
    margin-left: 20px;
    margin-right: 70%;
    cursor: pointer;
    min-width:88px;
}
#topFormProfileContents{
	margin-left: 20px;
	text-align: left;
}

#topFormProfileContents>div:nth-child(2),
#topFormProfileContents>div:nth-child(3) {
	font-size: 13px;
}

#topFormMenuCollection {
	border: 1px solid black;
    position: fixed;
    z-index: 2;
    top: 44px;
    left: 8%;
    width: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    padding-left: 30px;
    flex-direction: column;
    padding-bottom: 8px;
}

#topFormMenuCollection > div:first-child {
    margin-bottom: 10px;
    font-weight: bold;
}

#topFormSelectMenu {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
#topFormLeft{
	margin-left: 5%;
}
#topFormRight{
	margin-right: 10%;
}

.topFormMenu {
    height: 35px;
}
.topFormLogoutInBottom {
	margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
#topFormLogoutBtn{
	padding: 5px;
}

#topFormProfileImg img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.button_cancel {
    box-shadow: none;
    background-color: #ebebeb;
    border: solid 1px #d6d6d6;
    border-radius: 4px;
    color: #333;
    padding: 0 20px 0px;
    height: 34px;
    cursor: pointer;
    font-size: 14px;
}

.button_cancel:hover {
    background-color: #d6d6d6;
}

.button_cancel.float_left {
    margin-right:auto;
}

.button_cancel.float_right {
    margin-left:14px;
}