*{box-sizing: border-box;}
#top {
	width: 80%;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    border-bottom: 1px solid #eeeeee;
}

.icon i {
    margin-left: 10px;
}

.icon i:hover {
	cursor:pointer;
}

.logo, .icon {
    margin: 5px; 
    font-size: 25px;
}

.logout{
	position:fixed;
	z-index:2;
	top:6%;
	right:11%;
	width:100px;
	background-color: #ffffff;
	border-radius: 10px;
}

#menuSelect {
	font-size:11pt;
}

#menuSelectDiv {
	margin-left:20px;
	margin-right:70%;
}

#menuCollection {
	position:fixed;
	z-index:2;
	top:6%;
	left:11%;
	width:300px;
	background-color: #ffffff;
	border-radius: 10px;
	padding:10px;
}


#left {
	width:50%;
}

#right {
	width:50%;
}

.menu {
	height:35px;
}