@charset "UTF-8";
#logout{
	font-size:29px;
}
.content_tab>*{
    margin-left: 0px;
    min-width:1250px;
}
#topFormTop{position: fixed;}
/* div{border: 1px solid black;}  */
.content_tab{padding-right:25px;}

.backVoteBtn{
	width:98px;
    box-shadow: none;
    background-color: #ebebeb;
    border: solid 1px #d6d6d6;
    border-radius: 4px;
    color: #333;
    padding: 0 20px 0px;
    height: 34px;
    cursor: pointer;
    font-size: 14px;
}
.backVoteBtn:hover{background-color: #d6d6d6;}
.noticeBox{
    height:40px;
    display: flex;
    margin-bottom:10px;
}
.noticeBox>button{
    box-shadow: none;
    background-color: #ebebeb;
    border: solid 1px #d6d6d6;
    border-radius: 4px;
    color: #333;
    padding: 0 20px 0px;
    height: 34px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.board_contents_info{
    overflow: hidden;
    min-height:100px;
    border-bottom:1px solid black;
    margin-left:25px;
}
.board_contents_info>div{
    float:left;
    height:100%;
}

.board_contents_info>div:nth-child(1){
    width:5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.board_contents_title>span{
	color:rgb(41, 133, 219);
	font-size: medium;
}
.profileDiv>img{
	width:60px;
	height:60px;
	margin-top:10px;
}
.board_contents_info>div:nth-child(2){
    width:78%;
    padding-left:10px;
}
.board_contents_info>div:nth-child(3){
	width:17%;
    height:100%;
}
.contents_write_date>div:first-child{
	text-align: end;
	height:60%;
}
.contents_write_date>div:last-child{
	height:40%;
	text-align: end;
}
.contents_write_date button{
   	box-shadow: none;
    background-color: #2985db;
    border: solid 1px #056ac9;
    border-radius: 4px;
    color: white;
    padding: 0 20px 0px;
    height: 34px;
    font-size: 14px;
}
.contents_write_date button:hover{background-color: #056ac9;}
.contents_info>div{
    display: flex;
    align-items: center;
}
.contents_info>div:first-child{
    height:60%;
    font-size:x-large;
}
.contents_info>div:last-child{
    height:40%;
    display: flex;
    align-items: start;
}
.contents_info>div:last-child>div{float:left;}
.contents_info_datail>div{
    margin-right:10px;
}
.contents_info_datail>div:not(.contents_info_datail>div:first-child){
    margin-left:10px;
}
.board_contents_info>div:nth-child(4){
    width:10%;
    text-align: end;
}
.contents-file{
	border-bottom:1px solid black;
	margin-bottom:10px;
	margin-left:25px;
}

.contents{
    min-height:300px;
    border-bottom:1px solid black;
    padding-top:20px;
    padding-bottom:20px;
    margin-left:25px;
    overflow-x:auto;
}
.contents img{
	max-width:600px;
}
.survey_box{
    border:1px solid black;
    border-radius: 5px;
    margin-top:20px;
    padding:15px;
    width:800px;
    overflow-x:auto;   
}
.survey_box:last-child{display:none;}
.survey_question{
    font-weight: bold;
    font-size:15px;
}
.survey_box>hr{
    margin-top:10px;
    margin-bottom:10px;
}

.survey_items{margin-top:10px;}
.survey_item{
	margin-bottom:10px;
	overflow: hidden;
}
.survey_item>div{
    float:left;
    height:20px;
}
.survey_item>div:first-child{
	width:15%;
}
.graph{
    border: 1px solid black;
    width:60%;
    margin-left:20px;
}
.ratioBox{
	width:20%;
	padding-left:5px;
}

.survey_btns{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.survey_btns>button{
	width:98px;
    box-shadow: none;
    background-color: #ebebeb;
    border: solid 1px #d6d6d6;
    border-radius: 4px;
    color: #333;
    padding: 0 20px 0px;
    height: 34px;
    cursor: pointer;
    font-size: 14px;
}

.buttons{
    border-bottom:1px solid black;
    height:60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:20px;
    padding:0px;
    margin-left:25px;
}
.buttons>button:first-child{
	width:98px;
    box-shadow: none;
    background-color: #ebebeb;
    border: solid 1px #d6d6d6;
    border-radius: 4px;
    color: #333;
    padding: 0 20px 0px;
    height: 34px;
    cursor: pointer;
    font-size: 14px;
}
.buttons>button:first-child:hover{background-color: #d6d6d6;}
.buttons>button:last-child{
	width:98px;
    box-shadow: none;
    background-color: #2985db;
    border: solid 1px #056ac9;
    border-radius: 4px;
    color: white;
    padding: 0 20px 0px;
    height: 34px;
    font-size: 14px;
}
.buttons>button:last-child:hover{ background-color: #056ac9;}
.reply_box{padding-right:0px;}
.input_reply_box{
    overflow: hidden;
    height:100px;
    border:1px solid gainsboro;
    background-color: rgba(220, 220, 220, 0.168);
    margin-bottom:10px;
}
.input_reply_box>div{
    float:left;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reply_profile{width:8%;}
.reply_profile>img{
    width:60px;
    height:60px;
}
.reply_input{width:85%;}
.reply_input>textarea{
    width:95%;
    resize:none;
    height:50%;
}
.reply_button{width:7%;}
.reply_button>button{
    box-shadow: none;
    background-color: #ebebeb;
    border: solid 1px #d6d6d6;
    border-radius: 4px;
    color: #333;
    padding: 0 20px 0px;
    height: 34px;
    cursor: pointer;
    font-size: 14px;
}
.reply_button>button:hover{background-color: #d6d6d6;}
.reply_list_box{
    border:1px solid gainsboro;
    padding:10px;
    margin-top:25px;
}

.reply_list:not(.reply_list:first-child){
    border-top:1px solid gainsboro;
}
.reply_list_info{
    overflow: hidden;
    height:30px;
    margin-top:10px;
}
.reply_list_info>div{
    float:left;
    width:50%;
}
.reply_list_info:not(.reply_list_info:first-child)>div{
    margin-top:5px;
}
.reply_list_info>div:first-child{
    text-decoration: underline;
}
.reply_list_info>div:last-child{
    text-align: end;
}
.reply_list_contents{
    margin-top:5px;
    margin-bottom:5px;
}
.reply_list_edit_buttons{
    margin-top:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:10px;
}
.reply_list_edit_buttons>button:not(.updateSuccessBtn){
	width:75px;
	box-shadow: none;
    background-color: #ebebeb;
    border: solid 1px #d6d6d6;
    border-radius: 4px;
    color: #333;
    padding: 0 20px 0px;
    cursor: pointer;
    font-size: 14px;
    height:25px;
}
.reply_list_edit_buttons>button:hover:not(.updateSuccessBtn){background-color: #d6d6d6;}
.updateSuccessBtn{
	width:98px;
	box-shadow: none;
    background-color: #2985db;
    border: solid 1px #056ac9;
    border-radius: 4px;
    color: white;
    padding: 0 20px 0px;
    height: 34px;
    font-size: 14px;
}
.updateSuccessBtn:hover{ background-color: #056ac9;}
.updateCancelBtn,.updateSuccessBtn{display:none;}
#replyFooter{
	display: flex;
	justify-content: center;
	align-items: center;
}
#replyFooter>a{
	margin-left:10px;
	margin-right:10px;
}
