@charset "UTF-8";
.content_tab>*{
    margin-left: 0px;
    min-width:1200px;
}
#logout{
	font-size:29px;
}
/* div{border:1px solid black;}  */
#selectDiv{
	color: #333333 !important;
	background-color:transparent !important;
	font-weight:normal;
}
#selectDiv:hover{
	background-color: #F7FAFF !important;
}
#toEditBoardBtn{
	background-color: #DAE8F8;
	color: #056AC9;
	font-weight: bold;
}
.content_tab{padding-right:25px;}

.title{
    font-weight: bold;
    font-size:25px;
    margin-bottom:40px;
}

.select_box{ 
    margin-bottom:20px;
    height:50px;
    padding-top:0px;
}
.select_box>.select{
    font-size:15px;
    border: none;
    border-bottom:1px solid black;
    width:10%;
    height:100%;
}

.board_list_box{
	margin-left:25px;
	border:1px solid black;
	padding:0px;
	}
.board_list_box>div{
    overflow: hidden;
    height:50px;
}
.board_list_box>div>div:not(.board_list>.buttons){
    float:left;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.board_index{
    background-color: aliceblue;
}
.board_list{border-top:1px solid black;}
.board_list_box>div>div:not(.buttons){border-right:1px solid black;}
.board_index_check{width:3%}
.board_index_board_type{width:12%}
.board_index_name_type{width:12%}
.board_index_board_title{width:28%}
.board_index_board_admin{width:10%}
.board_index_mk_date{width:15%}
.buttons{width:20%;}
.board_list>.buttons{
    float:left;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;;
}
.buttons>button:first-child{
    box-shadow: none;
    background-color: #2985db;
    border: solid 1px #056ac9;
    border-radius: 4px;
    color: white;
    padding: 0 20px 0px;
    height: 34px;
    font-size: 14px;
}
.buttons>button:first-child:hover{background-color: #056ac9;}

.buttons>button:last-child{
    box-shadow: none;
    background-color: #ebebeb;
    border: solid 1px #d6d6d6;
    border-radius: 4px;
    color: #333;
    padding: 0 20px 0px;
    height: 34px;
    cursor: pointer;
    font-size: 14px;
}
.buttons>button:last-child:hover{ background-color: #d6d6d6;}

