@charset "UTF-8";

.container {
  margin: auto;
  border: 1px solid gainsboro;
  height: 180px;
  width: 250px;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  font-weight: bold;
  font-size: large;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 30%;
}

.btns > button {
  width: 50px;
  height: 30px;
  border: 1px solid gainsboro;
  margin-bottom: 30px;
}

.btns > button {
  cursor: pointer;
}
