.element {
    position: static; /* 원래의 위치 지정 동작으로 되돌리기 */
}

/* 팝업 스타일 */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 400px;
    height: 650px;
}

/* 팝업 내 닫기 버튼 스타일 */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* 프로필 컨테이너 스타일 */
.profile {
    display: flex; 
    align-items: center; 
    margin-top: 20px;
    margin-right: 58%;
    width: 100%;
}

/* 이미지 스타일 (선택 사항) */
#chattingImg {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 15px;
    margin-left: 6px;
}


/* 사용자 정보 스타일 */
.chattingUser {
    display: flex; /* 사용자 정보 요소를 가로로 배열 */
    flex-direction: column; /* 요소를 세로로 배열 (기본적으로) */
}

/* 사용자 정보 요소 사이 여백 (선택 사항) */
.chattingUser > div {
    margin-right: 10px;
}
.chattingTop{
    height: 18%;
    width: 100%;
}
/* 부모 컨테이너 스타일 */
.chat_body {
    display: flex; /* 요소들을 가로로 배열 */
    height: 82%; /* 높이 설정 */
    width: 100%;
    justify-content: space-between; /* 요소들 사이에 공간을 두어 좌우 정렬 */
}

/* 왼쪽 아이콘 컨테이너 스타일 */
.chattingLeft {
    display: flex; /* 내부 요소들을 가로로 배열 */
    flex-direction: column;
    background-color: #d2e0fb;
    padding-top: 10px;
    width: 20%;
    height: 100%;
}
.chattingRight{
    width: 80%;
    height: 100%;
    padding: 20px;
}

/* 왼쪽 아이콘 스타일 (선택 사항) */
.chattingLeft i {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 25px;
}


/*----------------전체 사람 리스트*/
.Thead, #departmentSelect{font-size: larger;font-weight: bold;}

/* 텍스트 컨테이너 스타일 (선택 사항) */
.person {
    display: flex; /* 텍스트 요소를 가로로 배열 */
    flex-direction: column; /* 요소를 세로로 배열 */
    margin-left: 5px;
}

/* 텍스트 요소 사이 여백 (선택 사항) */
.person > div {
    margin-right: 10px;
}
.chattingName{
    font-size:medium;
    font-weight: bold;
}
.state{color: #05509b;font-size:small;}
.department{
    font-size:smaller;
}
hr{
    margin: 0px;
}
/*------------------------*/
#departmentSelect {
    border: none; /* 테두리 없음 */
    outline: none; /* 포커스 표시 제거 */
}

.table-row{
	margin-bottom: 10px;
}
.oneChat{margin-left: 8px;}
.table-row i,#friend_list i{
	font-size: 25px;
	margin-right: 3px;
}

