.chatroom_container{
	width: 100%;
	
}
#group_list, #friend_list,.chatroom_list{
	padding-left: 8px;
}
.chatBox {
    display: flex; /* 요소를 가로로 배치합니다 */
    align-items: center; /* 요소를 수직 중앙으로 정렬합니다 */
    border: none;
    margin-top: 10px;
    
}

#font {
    margin-right: auto; /* font를 가장 왼쪽으로 배치합니다 */
    font-size: larger;
    font-weight: bold;
}

.search_add {
    margin-left: auto; /* search_add를 가장 오른쪽으로 배치합니다 */
}
.search_add img{width: 18px;height: auto;margin-top: 10%;}
#searchBox img{width: 18px;height: auto;margin-right: 5px;
    border: none;}
#search_input{border-radius:5px ;}
.search_container {
    margin-top: 6px;
}

.chatroom_search {
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px;
    
}
#searchBox {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
#search_input {
    
border: none;
    outline: none;
}
#x {
    display: flex;
    align-items: center;
}
#searchBtn:hover {
    background-color: lightgray;
    cursor: pointer;
}

#plusButton:hover {
    background-color: lightgray;
    cursor: pointer;
}
.groupChat{
	margin-left: 8px;
}
#chattingName{
	    font-size: medium;
	    font-weight: bold;
}