.box{width: 100%;height: 100%;}
#inputJSP,#groupJSP {
    width: 400px;
    height: 650px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.chatForm,.chatGroupForm {
	padding-left: 18px;
    height: 70%;
    width: 100%;
    background-color: #b2c7da;
    overflow: auto;
    padding-bottom: 10px;
    margin-top: 6px;
}
#messageForm{
    height: 20%;
    width: 100%;
    align-items: center; 
    border: 1px solid #b8c8d1;
    padding: 5px;
    padding-bottom: 20px;
    
}
.chatBox{width: 100%; height: 100%;}
.inputText {
    flex: 1;
    height: 100%; 
    overflow-y: auto;
}
.chat-send {
    display: flex;
    justify-content: flex-end;
}

#sendBtn {
    margin-right: 3%;
    margin-left: 5px;
}
.inputText[contenteditable="true"]:focus {
    outline: none;
}
.myProfile {
	display: flex;
	align-items: center; /* 세로 중앙 정렬 */
}

.myimg i {
	font-size: 40px;
}

.other {
	display: flex;
	flex-direction: column; /* 내부 요소들을 세로로 나열 */
	margin-left: 10px; /* 내부 요소 사이의 간격 조정 */
}

#otherName {
	font-size: medium;
	font-weight: bold;
	margin-left: -1px;
}

#organization {
	font-size: small;
}
.inputTop ,.groupInputTop{
	height: 10%
}
.message-container{
	display: flex;
    margin-top: 8px;
}
.message-righter{
    display: flex;
    flex-direction: column;
}
.user-id{
	font-weight: bold;
	display:inline-block;
	align-self: flex-start;
	padding-right: 5px;
	margin-left: 5px;
    font-size: 14px;
}
.message-text{
	margin-right: 10px;
	display:inline-block;
	background-color: ghostwhite;
	border-radius: 7px;
	padding: 3px;
	padding-right: 10px;
    padding-left: 10px;
    margin-left: 5px;
    margin-top: 3px;
}
.own-message{
	 display: flex;
    flex-direction: row;
    align-items: flex-end; /* 수직 방향으로 아래쪽 정렬 */
    justify-content: flex-end; /* 수평 방향으로 오른쪽 정렬 */
    margin-top: 8px;
}
.own-message>.message-righter>.message-text,.own-message>.message-text{
	background-color: #ffe936;
}
.own-message>.message-righter>.user-id,.own-message>.otherImg>.otherProfileImg,.own-message>.user-id{
	display: none;
}
.ownImg{
	width: 50px;
	height: 50px;
}
.oneImg{
	width: 50px;
	height: 50px;
	border-radius: 50%;
    overflow: hidden;
}
.ownProfileImg{
	width: 50px;
	height: 50px;
}
.otherImg{
	width: 30px;
	height: 30px;
	border-radius: 50%;
    overflow: hidden;
}
.otherProfileImg{
	width: 30px;
	height: 30px;
}