.box{width: 100%;height: 100%;}
.chatForm {
    height: 70%;
    width: 100%;
    background-color: #b2c7da;
    overflow: auto;
    /*background-color: #d2e0fb;*/
}
#messageForm{
    height: 20%;
    width: 100%;
    align-items: center; 
    border: 1px solid #b8c8d1;
    
}
.chatBox{width: 100%; height: 100%;}
.inputText {
    flex: 1;
    height: 100%; 
}
.chat-send {
    display: flex;
    justify-content: flex-end;
}

#sendBtn {
    margin-right: 3%;
    margin-left: 5px;
}
.inputText[contenteditable="true"]:focus {
    outline: none;
}