.element {
    position: static; /* 원래의 위치 지정 동작으로 되돌리기 */
}
hr{margin: 0px;}
/* 팝업 스타일 */
.top{
    padding: 20px;
}

.popup1 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 400px;
    height: 650px;
}

/* 팝업 내 닫기 버튼 스타일 */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* 프로필 컨테이너 스타일 */
.profile {
    display: flex; 
    align-items: center; 
    margin-top: 15px;
    justify-content: space-between;
}
.bell {
    margin-left: auto;
}
.bell i {
    font-size: 20px;
}

/* 이미지 스타일 (선택 사항) */
.img {
    margin-right: 20px; /* 이미지와 텍스트 사이 여백 (선택 사항) */
}

/*top 아이콘 스타일 (선택 사항) */
.top .fa-regular.fa-circle-user {
    font-size: 50px; /* 아이콘 크기 (선택 사항) */
}

/* 사용자 정보 스타일 */
.user {
    display: flex; /* 사용자 정보 요소를 가로로 배열 */
    flex-direction: column; /* 요소를 세로로 배열 (기본적으로) */
}

/* 사용자 정보 요소 사이 여백 (선택 사항) */
.user > div {
    margin-right: 10px;
}
.top{
    height: 20%;
}
#navi{
    background-color: #d2e0fb;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.navi-left {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.navi-left i {
    font-size: 30px;
    margin-right: 35px; /* 왼쪽 아이콘들 간격 설정 */
}

.navi-right i {
    font-size: 30px;
    margin-right: 10px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 가로 4개의 동일한 너비의 열 생성 */
    grid-template-rows: repeat(2, 1fr); /* 세로 2개의 동일한 높이의 행 생성 */
    gap: 10px; /* 아이콘 간격 조절 */
    justify-items: center; /* 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    padding: 20px;
    padding-top: 20px;
    text-align: center;
}

.menu i {
    font-size: 30px;
    margin-top: 40px;
}
.title{margin-top: 10px;}
.logout {
    position: fixed;
    bottom: 10px; /* 원하는 거리 (예: 10px) */
    right: 10px; /* 원하는 거리 (예: 10px) */
}

.logout i {
    font-size: 20px;
}
